In [1]:
import pandas as pd
import requests
import io
import numpy as np
import pickle
import warnings

warnings.filterwarnings("ignore")

# Downloading the csv file from your GitHub account


Sal_info = 'https://raw.githubusercontent.com/ongalajacob/Javic_ML/main/2021_data/javicjun_schms_table_sal_basicsalary.csv'
Sal_Montly = 'https://raw.githubusercontent.com/ongalajacob/Javic_ML/main/2021_data/javicjun_schms_table_sal_monthly.csv'
job_description = 'https://raw.githubusercontent.com/ongalajacob/Javic_ML/main/2021_data/javicjun_schms_table_job_description.csv'
employees = 'https://raw.githubusercontent.com/ongalajacob/Javic_ML/main/2021_data/javicjun_schms_table_employees.csv'


Sal_info_df = pd.read_csv(Sal_info)
Sal_Montly_df = pd.read_csv(Sal_Montly,dtype={'Month' : 'category'})
job_description_df = pd.read_csv(job_description)
employees_df = pd.read_csv(employees,dtype={'National_ID' : 'category'})

In [3]:
Sal_Montly_df

,id,Month,SalaryID,Responsibility,Overtime,Special,OtherAllow,OtherAllowaAmnt,NoOfDaysAbsent,SalAdvance,OtherDeductions,OtherDecAmount
0,1,Oct,1,0,0,0,XXXX,0,12,0,XXXX,0
1,2,Oct,2,0,0,0,XXXX,0,12,0,XXXX,0
2,3,Oct,3,0,0,0,XXXX,0,12,0,XXXX,0
3,7,Oct,4,500,0,0,XXXX,0,12,0,XXXX,0
4,8,Oct,10,0,0,0,XXXX,0,12,0,XXXX,0
...,...,...,...,...,...,...,...,...,...,...,...,...
104,114,May,36,0,0,0,XXXX,0,0,0,XXXX,0
105,115,May,12,2000,0,3000,XXXX,0,0,0,XXXX,0
106,116,May,26,500,0,0,XXXX,0,0,0,XXXX,0
107,117,May,38,0,0,0,XXXX,0,15,0,XXXX,0
108,118,May,37,0,0,0,XXXX,0,10,0,XXXX,0

In [154]:
Register = pd.merge(left=classregister_df, right=session_df, how='left', left_on='Session', right_on='id')
Register.drop(["id_y","Session"], axis=1, inplace=True)
Register.rename(columns = {'id_x':'id', }, inplace = True)

Register = pd.merge(left=Register, right=stud_df, how='left', left_on='student', right_on='ID')
Register.drop(['ID','Mother', 'Father', 'Guadian',
       'Class_Admitted', 'DOA', 'address',
        'DateExit',"student",'Startdate','Enddate','ClassTeacher'], axis=1, inplace=True)
Register.rename(columns = {'sex_x':'sex_teacher','sex_y':'sex_stud' ,'name':'name_stud' ,'Class_grd':'grade'  }, inplace = True)

Register=pd.merge(left=Register, right=invoice_df, how='left', left_on='id', right_on='ClassRegisterID')
Register.drop(["id_y"], axis=1, inplace=True)
Register.rename(columns = {'id_x':'id', }, inplace = True)
Register_df = Register.rename(columns=str.lower)
Register_df['tot_invoice']=Register_df['uniform']+Register_df['uniform_no']+(Register_df['transport']*Register_df['transport_months'])+ \
     (Register_df['lunch']*Register_df['lunch_months'])+Register_df['otherlevyindv']+Register_df['tutionfee']+Register_df['examfee']+ \
         Register_df['booklevy'] +Register_df['activityfee']+Register_df['otherlevies']
Register_df= Register_df[['id', 'year', 'term', 'grade', 
       'name_stud', 'adm', 'dob', 'sex', 'phone1', 'phone2', 'phone3', 'enrolstatus', 'bal_bf', 'tot_invoice']] 
Register_df["grade"].replace({"Baby1":'Baby','Class5':'Grade5',}, inplace=True)
Register_df['grade'] = pd.Categorical(Register_df['grade'], ['Baby', 'PP1', 'PP2','Grade1',  'Grade2', 'Grade3', 'Grade4', 'Grade5'])     


fee_df[['Admission', 'Tuition',
       'Transport', 'Uniform', 'Lunch', 'Exams', 'BookLvy', 'Activity',
       'OtheLvy']] = fee_df[['Admission', 'Tuition',
       'Transport', 'Uniform', 'Lunch', 'Exams', 'BookLvy', 'Activity',
       'OtheLvy']].fillna(0)
fee_df["total_paid"] =fee_df["Admission"] +fee_df["Tuition"] +fee_df["Transport"] +fee_df["Uniform"] \
       +fee_df["Lunch"] +fee_df["Exams"] +fee_df["BookLvy"] +fee_df["Activity"] +fee_df["OtheLvy"] 
fee_df['id']=fee_df['id'].astype(object)
fee_df['ReceiptNo']=fee_df['ReceiptNo'].astype(object)
#fee_df['DOP1']=pd.to_datetime(fee_df['DOP'] ,format = '%Y-%m-%d') 
fee_df['DOP']=pd.to_datetime(fee_df['DOP']).dt.strftime('%Y-%m-%d')
fees_df=pd.merge(left=fee_df, right=Register_df, how='left', left_on='ClassRegisterID', right_on='id')
fees_df = fees_df.rename(columns=str.lower)
fees_df.drop(["id_y",'classregisterid'], axis=1, inplace=True)
fees_df.rename(columns = {'id_x':'id', }, inplace = True)
fees_df=fees_df[['id', 'receiptno', 'dop', 'year', 'term', 'grade','adm','name_stud', 'enrolstatus', 'phone1', 'phone2', 'phone3', 'admission', 'tuition', 'transport',
      'uniform', 'lunch', 'exams', 'booklvy', 'activity', 'othelvy',  'total_paid']]


fee_df1=fee_df.groupby(["ClassRegisterID"])["total_paid"].sum().reset_index(name='Total_collection')
fees_bal_df=pd.merge(left=fee_df1, right=Register_df, how='outer', left_on='ClassRegisterID', right_on='id')
fees_bal_df.Total_collection=fees_bal_df.Total_collection.fillna(0)
fees_bal_df["bal_cf"] =fees_bal_df["tot_invoice"] - fees_bal_df["Total_collection"] 
fees_bal_df=fees_bal_df[['id','year', 'term','grade',  'adm','name_stud','enrolstatus',  'bal_bf', 'tot_invoice', 'Total_collection','bal_cf' , 'phone1', 'phone2', 'phone3']]
fees_bal_df = fees_bal_df.rename(columns=str.lower)


exam_df=pd.merge(left=exams_df, right=Register_df, how='left', left_on='ClassRegisterID', right_on='id')
exam_df.drop(["id_y",'ClassRegisterID'], axis=1, inplace=True)
exam_df.rename(columns = {'id_x':'id', }, inplace = True)
exam_df=exam_df[['id', 'ExamType', 'year', 'term', 'grade','adm',   'name_stud','enrolstatus',  'Maths', 'EngLan', 'EngComp',
       'KisLug', 'KisIns', 'Social', 'Creative', 'CRE', 'Science', 'HmScie','Agric', 'Music', 'PE']]
exam_df= exam_df.rename(columns=str.lower)
subjects=['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative',
       'cre', 'science', 'hmscie', 'agric', 'music', 'pe']
exam_df['Tot_marks'] = exam_df[subjects].sum(numeric_only=True, axis=1)
exam_df=exam_df.dropna()
exam_df['year'] = exam_df.year.astype(int) 
exam_df['adm'] = exam_df.adm.astype(int)  
exam_df=exam_df[exam_df.enrolstatus =='In_Session']

In [148]:
stud_df[['ADM','PHONE1', 'PHONE2', 'PHONE3']]

     ADM      PHONE1      PHONE2      PHONE3
0      1  0710945685  0710332465  0733332465
1      2   706701795   705696900       XXXXX
2      3  0706195829  0727201459       XXXXX
3      4   706195829   727201459       XXXXX
4      5   706281363       XXXXX       XXXXX
..   ...         ...         ...         ...
439  441  0723588617  0736138889      XXXXX.
440  442  0705412170       XXXXX      XXXXX.
441  443  0717506310  0715544448      XXXXX.
442  444  0740816989  0724720009      XXXXX.
443  445  0710768467  0724648513       XXXXX

[444 rows x 4 columns]

In [155]:
yr = 2020
tm = 'Term 2'
grd = 'Grade2'
exam_df=exam_df[(exam_df.year==yr) & (exam_df.term ==tm) & (exam_df.grade==grd)]
exam_df=exam_df.groupby(["adm", 'name_stud'])['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe',
'Tot_marks'].mean().reset_index().sort_values('Tot_marks', ascending = (False))
exam_df[['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe','Tot_marks']] = exam_df[['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe', 'Tot_marks']].astype(int)
exam_df=pd.merge(left=exam_df, right=stud_df[['ADM','PHONE1', 'PHONE2', 'PHONE3']], how='left', left_on='adm', right_on='ADM')
exam_df= exam_df.rename(columns=str.lower)
exam_df

,adm,name_stud,maths,englan,engcomp,kislug,kisins,social,creative,cre,science,hmscie,agric,music,pe,tot_marks,adm,phone1,phone2,phone3
0,153,Shalquine Atieno Auka,91,98,0,89,0,50,50,50,50,0,0,0,0,478,153,723400362,722955104,NaN
1,435,June Ochieng Ooko,92,62,0,40,0,58,54,80,87,0,0,0,0,473,435,0715457662,0718344243,XXXXX.
2,262,Victoria Chavuremu Muyesu,85,93,0,85,0,50,42,50,50,0,0,0,0,457,262,717506310,721705293,NaN
3,315,Joel Imani Odhiambo,88,92,0,85,0,46,42,50,50,0,0,0,0,453,315,729755690,728843673,NaN
4,225,Hillary Ignatius Odhiambo,82,92,0,79,0,50,50,50,50,0,0,0,0,453,225,720826441,NaN,NaN
5,227,Randy Martins Jombo,86,91,0,86,0,41,46,50,46,0,0,0,0,448,227,705662622,703439762,NaN
6,411,Wicofred Wilkince Odote,88,94,0,82,0,50,34,50,43,0,0,0,0,442,411,0724987637,0725121744,XXXXX.
7,290,Bridgit Rebbeca Okoth,81,90,0,82,0,50,46,45,43,0,0,0,0,438,290,706277313,737938061,NaN
8,247,Keila Babra Jowi,72,89,0,80,0,50,46,50,50,0,0,0,0,437,247,707118306,NaN,NaN
9,23,Victoria Gweth Abira,81,93,0,82,0,50,38,45,43,0,0,0,0,433,23,711130433,736454815,727323374
10,72,Edgar Otieno Olal,83,95,0,85,0,50,38,45,33,0,0,0,0,431,72,712436118,704284859,NaN
11,1,Michael Gift Otieno,85,90,0,78,0,41,38,50,43,0,0,0,0,428,1,0710945685,0710332465,0733332465
12,412,Arshley Barca Odote,90,93,0,76,0,46,31,45,43,0,0,0,0,425,412,0724987637,0725121744,XXXXX.
13,144,Sylvester Rao Ochieng',72,93,0,76,0,50,42,45,43,0,0,0,0,423,144,713768459,721749919,NaN
14,188,Jasper Savelle Otieno,92,90,0,71,0,41,27,50,43,0,0,0,0,415,188,705792501,704602402,NaN
15,308,Sachyl Blessed Oweya,74,91,0,76,0,41,38,50,43,0,0,0,0,415,308,720661180,716290185,NaN
16,7,Regan Ochieng Odhiambo,64,82,0,66,0,46,50,50,50,0,0,0,0,409,7,718398499,723919879,XXXXX
17,165,Sheryl Atieno Odhiambo,73,85,0,77,0,46,42,50,33,0,0,0,0,408,165,711949755,NaN,NaN
18,15,Rosmary Atieno Omondi,58,88,0,76,0,41,42,50,50,0,0,0,0,407,15,715671602,NaN,NaN
19,26,Gregory Castor,66,75,0,78,0,41,31,45,40,0,0,0,0,377,26,716351660,720746028,NaN
20,202,Alian Vukhame Mwita,65,73,0,77,0,33,34,45,36,0,0,0,0,365,202,714700912,726788775,736788775
21,238,Bravin Odhiambo,54,77,0,68,0,29,38,50,43,0,0,0,0,361,238,726009746,728324733,NaN
22,253,Elvis Michael Nyagol,51,73,0,73,0,46,38,50,26,0,0,0,0,358,253,728088439,NaN,NaN
23,341,Elton Otieno Omondi,83,69,0,61,0,25,27,45,46,0,0,0,0,357,341,741866087,790632976,NaN
24,2,Tashy Vivian Mboya,76,81,0,65,0,37,23,45,26,0,0,0,0,355,2,706701795,705696900,XXXXX
25,289,Bistine Ramender Okoth,61,38,0,38,0,46,38,50,50,0,0,0,0,322,289,706277313,737938061,NaN
26,271,Jef Okech Odiyo,50,57,0,66,0,37,27,45,26,0,0,0,0,310,271,700425576,705237705,NaN
27,377,Isaac Omondi Onyango,53,50,0,75,0,16,38,40,36,0,0,0,0,310,377,0723682629,0721335734,XXXXX
28,255,Byron John Onyango,74,39,0,37,0,41,34,50,26,0,0,0,0,302,255,710602149,NaN,NaN
29,433,Fortune Wisdom Ogola,44,38,0,20,0,33,62,50,47,0,0,0,0,294,433,0723578845,0711200351,XXXXX.
30,110,Bonface Amisi Miruka,54,44,0,58,0,29,38,30,26,0,0,0,0,281,110,790614089,729642925,XXXXX
31,11,Mishael Michael Ochieng,58,57,0,67,0,21,19,35,23,0,0,0,0,281,11,726313148,726075896,XXXXX
32,183,Ryan Sande Ochieng,54,45,0,19,0,21,11,35,33,0,0,0,0,220,183,729232741,726907801,NaN
33,111,Kimberly Amilia Juma,31,37,0,25,0,16,15,30,13,0,0,0,0,170,111,712813527,710990899,NaN
34,5,Michael Odhiambo Awuor,24,26,0,7,0,16,7,20,13,0,0,0,0,115,5,706281363,XXXXX,XXXXX

In [93]:
exam_df=exam_df.drop(['id','dob', 'sex'], axis=1).dropna()
exam_df=exam_df[exam_df.enrolstatus =='In_Session']
yr = 2020
tm = 'Term 2'
grd = 'Grade2'
exam_df=exam_df[(exam_df.year==yr) & (exam_df.term ==tm) & (exam_df.grade==grd)]
exam_df=exam_df.groupby(['year', 'term', 'grade',"adm", 'name_stud','phone1', 'phone2', 'phone3'])['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe',
'Tot_marks'].mean().reset_index().sort_values('Tot_marks', ascending = (False)).dropna() 
exam_df[['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe','Tot_marks']] = exam_df[['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe', 'Tot_marks']].astype(int)
        
if grd in ['Baby', 'PP1', 'PP2']:
    exam_df['pos'] =exam_df.Tot_marks.rank(ascending=False).apply(np.floor).astype(int)
    #exam_df=exam_df[((exam_df.phone1==Phone)| (exam_df.phone2==Phone)|(exam_df.phone3==Phone))]
    exam_df.rename(columns = {'year':'Year', 'term':'Term', 'grade':'Grade','adm':'ADM','name_stud':'Name','maths':'Mathematics', 'englan':'Language', 'kislug':'Kiswahili',  'science':'Enviromental',  'cre':'Religious',  'creative':'Creative',   
    'Tot_marks':'Total'}, inplace = True)
    if grd in ['Baby', 'PP1']:
        exam_df=exam_df[['Year', 'Term', 'Grade','ADM', 'Name', 'pos', 'Mathematics', 'Language', 'Creative', 'Religious', 'Enviromental', 'Total']]
       # st.dataframe(exam_df.T)       
    else :
        exam_df=exam_df[['Year', 'Term', 'Grade','ADM', 'Name', 'pos', 'Mathematics', 'Language', 'Creative', 'Religious', 'Enviromental','Kiswahili', 'Total']]
   #    st.dataframe(exam_df.T) 

if grd in ['Grade1', 'Grade2', 'Grade3']:
    exam_df['pos'] =exam_df.Tot_marks.rank(ascending=False).apply(np.floor)
   # exam_df=exam_df[((exam_df.phone1==Phone)| (exam_df.phone2==Phone)|(exam_df.phone3==Phone))]

    exam_df['Kiswahili'] =exam_df['kislug']+exam_df['kisins'];exam_df['English'] =exam_df['englan']+exam_df['engcomp']
    exam_df.rename(columns = {'year':'Year', 'term':'Term', 'grade':'Grade','adm':'ADM','name_stud':'Name','maths':'Mathematics',  'social':'Hygiene' ,'science':'Enviromental',  'cre':'CRE',  'creative':'Creative',   
    'Tot_marks':'Total'}, inplace = True)
    exam_df=exam_df[['Year', 'Term', 'Grade','ADM', 'Name', 'pos', 'Mathematics', 'English','Kiswahili','Hygiene', 'Enviromental','CRE', 'Creative', 'Total']]
   # st.dataframe(exam_df.T)  

    
if grd in ['Grade4']:
    exam_df['pos'] =exam_df.Tot_marks.rank(ascending=False).apply(np.floor).astype(int)
   # exam_df=exam_df[((exam_df.phone1==Phone)| (exam_df.phone2==Phone)|(exam_df.phone3==Phone))]

    exam_df['Kiswahili'] =exam_df['kislug']+exam_df['kisins'];exam_df['English'] =exam_df['englan']+exam_df['engcomp']
    exam_df.rename(columns = {'year':'Year', 'term':'Term', 'grade':'Grade','adm':'ADM','name_stud':'Name','maths':'Mathematics',  'social':'S/Studies' ,'science':'Science',  'cre':'CRE',  'creative':'Art&Craft',   
    'hmscie':'H/Science', 'agric':'Agric', 'music':'Music', 'pe':'PE','Tot_marks':'Total'}, inplace = True)
    exam_df=exam_df[['Year', 'Term', 'Grade','ADM', 'Name', 'pos', 'Mathematics', 'English','Kiswahili','Science','H/Science','Agric','Art&Craft', 'Music','S/Studies' ,'CRE', 'PE', 'Total']]
  #  st.dataframe(exam_df.T)     

if grd in ['Grade5']:
    exam_df['pos'] =exam_df.Tot_marks.rank(ascending=False).apply(np.floor).astype(int)
    #exam_df=exam_df[((exam_df.phone1==Phone)| (exam_df.phone2==Phone)|(exam_df.phone3==Phone))]

    exam_df['Kiswahili'] =exam_df['kislug']+exam_df['kisins'];exam_df['English'] =exam_df['englan']+exam_df['engcomp']
    exam_df.rename(columns = {'year':'Year', 'term':'Term', 'grade':'Grade','adm':'ADM','name_stud':'Name','maths':'Mathematics',  'social':'S/Studies' ,'science':'Science','Tot_marks':'Total'}, inplace = True)
    exam_df=exam_df[['Year', 'Term', 'Grade','ADM', 'Name', 'pos', 'Mathematics', 'English','Kiswahili','Science','S/Studies' , 'Total']]
  #  st.dataframe(exam_df.T) 

exam_df

,Year,Term,Grade,ADM,Name,pos,Mathematics,English,Kiswahili,Hygiene,Enviromental,CRE,Creative,Total
602714,2020,Term 2,Grade2,435,June Ochieng Ooko,1.0,92,62,40,58,87,80,54,473
579864,2020,Term 2,Grade2,411,Wicofred Wilkince Odote,2.0,88,94,82,50,43,50,34,442
541911,2020,Term 2,Grade2,23,Victoria Gweth Abira,3.0,81,93,82,50,43,45,38,433
491040,2020,Term 2,Grade2,1,Michael Gift Otieno,4.0,85,90,78,41,43,50,38,428
581304,2020,Term 2,Grade2,412,Arshley Barca Odote,5.0,90,93,76,46,43,45,31,425
521853,2020,Term 2,Grade2,7,Regan Ochieng Odhiambo,6.0,64,82,66,46,50,50,50,409
552762,2020,Term 2,Grade2,202,Alian Vukhame Mwita,7.0,65,73,77,33,36,45,34,365
503668,2020,Term 2,Grade2,2,Tashy Vivian Mboya,8.0,76,81,65,37,26,45,23,355
564678,2020,Term 2,Grade2,377,Isaac Omondi Onyango,9.0,53,50,75,16,36,40,38,310
591969,2020,Term 2,Grade2,433,Fortune Wisdom Ogola,10.0,44,38,20,33,47,50,62,294
545028,2020,Term 2,Grade2,110,Bonface Amisi Miruka,11.0,54,44,58,29,26,30,38,281
530558,2020,Term 2,Grade2,11,Mishael Michael Ochieng,11.0,58,57,67,21,23,35,19,281
510838,2020,Term 2,Grade2,5,Michael Odhiambo Awuor,13.0,24,26,7,16,13,20,7,115

In [63]:

#exam_df_termly=exam_df.groupby([ 'year', 'term', 'grade', "adm", 'name_stud'])['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe',
#            'Tot_marks'].mean().reset_index().sort_values('Tot_marks', ascending = (False)).dropna()
#exam_df_termly[['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe','Tot_marks']] = exam_df_termly[['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe', 'Tot_marks']].astype(int)
exam_df=exam_df[(exam_df.year==2020)& (exam_df.term =='Term 2') & (exam_df.grade=='Baby')]
exam_df=exam_df.groupby(["adm", 'name_stud'])['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe',
            'Tot_marks'].mean().reset_index().sort_values('Tot_marks', ascending = (False)) 
exam_df[['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe','Tot_marks']] = exam_df[['maths', 'englan', 'engcomp', 'kislug', 'kisins', 'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music', 'pe', 'Tot_marks']].astype(int)
                    
            if grd in ['Baby', 'PP1', 'PP2']:
                exam_df['pos'] =exam_df.Tot_marks.rank(ascending=False).apply(np.floor).astype(int)
                exam_df.rename(columns = {'adm':'ADM','name_stud':'Name','maths':'Mathematics', 'englan':'Language', 'kislug':'Kiswahili',  'science':'Enviromental',  'cre':'Religious',  'creative':'Creative',   
                'Tot_marks':'Total'}, inplace = True)
                if grd in ['Baby', 'PP1']:
                    exam_df=exam_df[['ADM', 'Name', 'pos', 'Mathematics', 'Language', 'Creative', 'Religious', 'Enviromental', 'Total']]
                    st.dataframe(exam_df)       
                else :
                    exam_df=exam_df[['ADM', 'Name', 'pos', 'Mathematics', 'Language', 'Creative', 'Religious', 'Enviromental','Kiswahili', 'Total']]
                    st.dataframe(exam_df)

In [13]:
exam_df.columns

Index(['id', 'examtype', 'year', 'term', 'grade', 'adm', 'name_stud', 'dob',
       'sex', 'enrolstatus', 'maths', 'englan', 'engcomp', 'kislug', 'kisins',
       'social', 'creative', 'cre', 'science', 'hmscie', 'agric', 'music',
       'pe', 'Tot_marks'],
      dtype='object')

In [77]:

pos = []
for TRM in exam_df.term.unique():
        pos=exam_df_termly[exam_df_termly.term==TRM].Tot_marks.rank(ascending=False).apply(np.floor).astype(int)
        pos.append(pos)
        exam_df_termly["pos"] = pos

In [78]:
exam_df.term.unique()

array(['Term 2', 'Term 3'], dtype=object)

In [79]:
exam_df_termly

,year,term,grade,adm,name_stud,maths,englan,engcomp,kislug,kisins,social,creative,cre,science,hmscie,agric,music,pe,Tot_marks,pos
354615,2020,Term 2,Grade4,181,Ester Precious Magret Liyala,84,49,40,44,37,34,48,48,96,44,48,28,92,692,NaN
803967,2020,Term 3,Grade4,181,Ester Precious Magret Liyala,76,46,45,41,45,67,40,90,32,28,68,28,80,686,1.0
807279,2020,Term 3,Grade4,212,Dylia Sophy Odhiambo,76,47,35,43,40,68,40,93,33,27,71,28,80,681,2.0
357927,2020,Term 2,Grade4,212,Dylia Sophy Odhiambo,70,49,43,43,37,40,44,48,94,46,39,26,84,663,NaN
791138,2020,Term 3,Grade4,57,Brigit Judy Owano,72,41,35,36,40,67,44,87,25,30,65,24,80,646,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289217,2020,Term 2,Grade3,104,Frankline Ochieng' Odhiambo,26,16,5,24,5,13,20,10,10,0,0,0,0,129,NaN
225301,2020,Term 2,Grade2,5,Michael Odhiambo Awuor,24,26,0,7,0,16,7,20,13,0,0,0,0,115,NaN
54712,2020,Term 2,Baby,431,Sheryl Olive Okello,60,0,0,0,0,0,0,0,0,0,0,0,0,60,NaN
369962,2020,Term 2,Grade4,300,Albright Mitchelle Ouma,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
377280,2020,Term 2,Grade4,347,Teddy Brian Okoth,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN

In [68]:
pos

354615      1
803967      2
807279      3
357927      4
791138      5
         ...
289217    247
225301    248
54712     249
369962    250
377280    250
Name: Tot_marks, Length: 251, dtype: int32

In [12]:
exam_df.year.unique()

array([2020])

In [6]:
exam_df

,id,examtype,year,term,grade,adm,name_stud,dob,sex,enrolstatus,...,kisins,social,creative,cre,science,hmscie,agric,music,pe,Tot_marks
0,20,Exams,2020,Term 2,Grade4,300,Albright Mitchelle Ouma,2012-02-10,Female,In_Session,...,0,0,0,0,0,0,0,0,0,0
1,21,Exams,2020,Term 2,Grade4,313,Bill Otieno Onyango,2010-05-15,Male,In_Session,...,28,26,34,24,98,39,41,20,72,534
2,22,Exams,2020,Term 2,Grade4,57,Brigit Judy Owano,2017-05-22,Female,In_Session,...,38,31,38,44,88,48,35,20,92,632
4,24,Exams,2020,Term 2,Grade4,213,Delan Charles Odhiambo,2009-11-15,Male,In_Session,...,33,28,28,32,86,42,41,26,60,537
5,25,Exams,2020,Term 2,Grade4,212,Dylia Sophy Odhiambo,2019-11-14,Female,In_Session,...,37,40,44,48,94,46,39,26,84,663
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,551,Exams,2020,Term 2,Grade5,157,Stanley Ochieng' Ochia,2009-12-21,Male,In_Session,...,19,34,0,0,42,0,0,0,0,155
512,552,Exams,2020,Term 2,Grade5,132,Violet Akinyi Owuor,2007-01-02,Female,In_Session,...,23,38,0,0,34,0,0,0,0,197
513,553,Exams,2020,Term 2,Grade5,97,Walter Kwata Muliro,2009-05-11,Male,In_Session,...,40,79,0,0,72,0,0,0,0,355
514,554,Exams,2020,Term 2,Grade3,338,David Otieno Agutu,2011-01-29,Male,In_Session,...,0,87,65,90,80,0,0,0,0,572
515,555,Exams,2020,Term 2,Grade3,343,Ricky Rolex Otieno,2012-08-05,Male,In_Session,...,0,80,75,70,67,0,0,0,0,524

In [59]:
Register.columns

Index(['id_x', 'Year', 'Term', 'grade', 'TutionFee', 'ExamFee', 'BookLevy',
       'ActivityFee', 'OtherLevies', 'name_stud', 'ADM', 'DOB', 'sex',
       'PHONE1', 'PHONE2', 'PHONE3', 'EnrolStatus', 'ClassRegisterID',
       'Bal_bf', 'Uniform', 'uniform_no', 'Transport', 'Transport_months',
       'Lunch', 'Lunch_months', 'OtherLevyIndv'],
      dtype='object')

In [20]:
fees_df[fees_df.enrolstatus=='In_Session'][['receiptno', 'dop', 'grade', 'adm', 'name_stud',
            'admission', 'tuition', 'transport', 'uniform', 'lunch',
            'exams', 'booklvy', 'activity', 'othelvy', 'total_paid']]

,receiptno,dop,grade,adm,name_stud,admission,tuition,transport,uniform,lunch,exams,booklvy,activity,othelvy,total_paid
0,6598,2020-10-19,Grade4,54,Reinhard Levi Onyango,0.0,1900.0,900.0,0.0,0.0,0.0,200.0,0.0,0.0,3000.0
1,6597,2020-10-14,Grade4,252,Meths Rino Nyagol,0.0,2000.0,0.0,0.0,600.0,100.0,200.0,100.0,0.0,3000.0
3,6596,2020-10-14,Grade4,226,Katheryn Fejenia Wanyama,0.0,3000.0,3300.0,700.0,1800.0,100.0,200.0,100.0,0.0,9200.0
4,6600,2020-10-19,Grade4,113,Shantel Whitney Otieno,0.0,1650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1650.0
5,6602,2020-10-19,Grade4,282,Kerry Dalmas Otieno,0.0,1700.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,7820,2021-05-26,Grade1,211,Dalmus Ojwang Odhiambo,0.0,1000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.0
1165,7821,2021-05-27,Grade3,287,Gabriel Ebeneza,0.0,3700.0,3300.0,0.0,1800.0,200.0,200.0,100.0,0.0,9300.0
1166,7822,2021-05-28,Grade2,255,Byron John Onyango,0.0,400.0,0.0,0.0,600.0,200.0,200.0,100.0,0.0,1500.0
1167,7823,2021-05-28,PP1,285,Sharlet Kimberly Odede,0.0,800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,800.0
1168,7824,2021-05-28,PP2,126,Ronney Odhiambo Okore,0.0,1000.0,0.0,0.0,600.0,200.0,200.0,100.0,0.0,2100.0

In [ ]:
(['ADM', 'name',  'Mother', 'Father', 'Guadian', 'DOB', 'sex',
        'PHONE1', 'PHONE2', 'PHONE3', 'DOA']